<div class="kottu-labs-about-container clearfix">
    <div class="container">
        <div class="kottu-labs-about-left">
            <div class="kottu-labs-about-row">
                <h2>WHO WE ARE</h2>
                <p>KOTTULABS was founded by four guys this year to introduce a place where you have a plate of Kottu just the way you like it. Our Chef, Yatta, likes to hero fresh produce in Kottu so he uses minimal sauces and more Lankan curry to add flavour.</p>
                <p>In addition to our Chef, we've got Don, AR and Waitforit (as they are nicknamed), to manage all other operational aspects of KOTTULABS. Staying true to our name, we like to get inventive with our Kottu and invention is not a one-off process. So feel free to fill in our <a href="https://docs.google.com/forms/d/e/1FAIpQLSc2P0VgqPq2TiCVDpHbR5qRFVSbAH08ebb1iswCuQBVCY_a_w/viewform" target="_blank"> feedback form </a>and share your views. As we say usually say, at KOTTULABS, you're the chef and we're the cooks!</p>
                <img src="{{imgTwo}}" alt="kottuLabs" style="margin-top:30px;"/>
            </div>
            <div class="kottu-labs-about-row-responsive">
                <img src="{{imgOne}}" alt="kottuLabs"/>
                <h2>WHAT WE OFFER</h2>
                <p>We take our Kottu very seriously. We offer a "create your own Kottu" option and also 6 signature Kottu's to choose from. Each signature dish is created by combining the most beloved elements of Sri Lankan cuisine. Pittu with Crab, Strings Kottu with Kiri Maalu, Dalla deviled with Rotti Kottu and the list goes on.</p>
                <p>To create your own Kottu, You simply need to follow three simple steps. Select a carb, choose the vegies for your Kottu and pick a Protein. You also are able to select the portion size of your Kottu and how spicy you would like it. ​In addition, we've got a range of appetisers, ad-ons, deserts and beverages to choose from. <a routerLink="/Menu"> View our menu here.</a> We currently undertake delivery and pick up orders from Tuesday to Sunday, 4pm to midnight.</p>
                <img src="{{imgThree}}" alt="kottuLabs"/>
            </div>
            <!--<div class="kottu-labs-about-row">-->
                <!--<h2>GET IN TOUCH</h2>-->
                <!--<form>-->
                    <!--<div class="kottu-labs-about-form-row">-->
                        <!--<input name="name" type="text" placeholder="Name*"/>-->
                    <!--</div>-->
                    <!--<div class="kottu-labs-about-form-row">-->
                        <!--<input name="email" type="text" placeholder="Email*"/>-->
                    <!--</div>-->
                    <!--<div class="kottu-labs-about-form-row">-->
                        <!--<input name="subject" type="text" placeholder="Subject*"/>-->
                    <!--</div>-->
                    <!--<div class="kottu-labs-about-form-row">-->
                        <!--<textarea name="message" placeholder="Message"></textarea>-->
                    <!--</div>-->
                    <!--<div class="kottu-labs-about-form-row">-->
                        <!--<button type="submit">Send</button>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
         </div>
        <div class="kottu-labs-about-right">
            <img src="{{imgThree}}" alt="kottuLabs"/>
            <!--<img src="{{imgOne}}" alt="kottuLabs"/>-->
            <h2>WHAT WE OFFER</h2>
            <p>We take our Kottu very seriously. We offer a "create your own Kottu" option and also 6 signature Kottu's to choose from. Each signature dish is created by combining the most beloved elements of Sri Lankan cuisine. Pittu with Crab, Strings Kottu with Kiri Maalu, Dalla deviled with Rotti Kottu and the list goes on.</p>
            <p>To create your own Kottu, You simply need to follow three simple steps. Select a carb, choose the vegies for your Kottu and pick a Protein. You also are able to select the portion size of your Kottu and how spicy you would like it. ​In addition, we've got a range of appetisers, ad-ons, deserts and beverages to choose from. <a routerLink="/Menu"> View our menu here.</a> We currently undertake delivery and pick up orders from Tuesday to Sunday, 4pm to midnight.</p>
            <!--<img src="{{imgThree}}" alt="kottuLabs"/>-->
        </div>
    </div>
</div>