<footer class="kottu-labs-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="kottu-labs-footer-links clearfix">
          <span>Learn more about us</span>
          <a href="/">Our story</a>
          <a href="/">Our pickup location</a>
          <a href="/">New items to our menu</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="kottu-labs-footer-links clearfix">
          <span>Contact Us:</span>
          <a href="/">011 2421124</a>
          <a href="mailto:support@kottulabs.lk">support@kottulabs.lk</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="kottu-labs-footer-icons clearfix">
          <span>Follow us on:</span>
          <a href="/"><i class="fab fa-facebook-square fa-lg"></i></a>
          <a href="/"><i class="fab fa-instagram fa-lg"></i></a>
          <span class="copyrights">copyrights &copy; Kottu Labs.</span>
        </div>
      </div>
    </div>
  </div>
</footer>
