<div class="kottu-labs-location-wrapper clearfix" id="pickUpLocationMarker">
    <div class="container">
        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<h2>DROP BY TO OUR LAB</h2> </div>-->
        <!--</div>-->
        <div class="row">
            <div class="col-md-6">
                <div id="kottuLabLocationMap">
                    <kottu-lab-location-map></kottu-lab-location-map>
                </div>
            </div>
            <div class="col-md-6">
                <h2>DROP BY OUR LAB</h2>
                <p>In addition to delivery, we also have a pick up location. So if you are ever near the Open University in Nawala, drop by and pick up some yummy Kottu! </p>
                <ul>
                    <li>
                <span>
                  <img src="{{ico1}}" alt="kottulabs contact no."/>
                </span>
                        <label>077 6680 000/ 011 70 36364</label>
                    </li>
                    <li>
                <span>
                  <img src="{{ico2}}" alt="kottulabs address"/>
                </span>
                        <label>No 31, D.M. Colombage Mawatha, Nawala, Nugegoda</label>
                    </li>
                    <li>
                <span>
                  <img src="{{ico3}}" alt="kottulabs Opening hours"/>
                </span>
                        <label>Open from 3pm to 10pm, Tuesday to Sunday</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>