<div class="kottu-labs-desc-wrapper clearfix">
  <div class="container">
    <p>If there's one thing that every Sri Lankan
      would agree on, it’s that a yummy plate of</p>
    <h2>Kottu can uplift your mood any day!</h2>
    <p class="descTwo">With KOTTULABS, you can create your own plate of Kottu by selecting
      your choice of carb, veggies and protein. You can also choose from
      our signature Kottu dishes, if being a chef is not your thing. </p>
    <p class="descTwo">Any meal you order from KOTTULABS can be delivered to areas within
      Colombo 1 to 7, Dehiwala, Kohuwala, Nugegoda, Nawala or Rajagiriya.</p>
    <button type="button" routerLink="/YourCart" class="kottu-labs-view-cart">order now</button>
  </div>
  <div class="kottu-labs-desc-images clearfix">
    <div class="container">
      <div class="col-md-3"><img src="{{kImg1}}" alt="Crab Kottu"></div>
      <div class="col-md-3"><img src="{{kImg2}}" alt="Burgers"></div>
      <div class="col-md-3"><img src="{{kImg3}}" alt="Vegetable Kottu"></div>
      <div class="col-md-3"><img src="{{kImg4}}" alt="Kebab"></div>
    </div>
  </div>
</div>
