<div class="container">
  <div class="kottu-labs-main-menus-wrapper clearfix">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <a routerLink="/SignatureKottu" class="kottu-labs-main-menus-item">
        <img src="{{sigKottu}}"/>
        <span>Signature Kottu</span>
      </a>
    </div>
    <div class="col-md-3">
      <a routerLink="/CustomKottu" class="kottu-labs-main-menus-item">
        <img src="{{sigKottu}}"/>
        <span>Create your kottu</span>
      </a>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
