<div class="kottu-labs-inner-header-wrapper" >
  <div class="container">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a data-target="#KottuMains" aria-controls="KottuMains" role="tab" data-toggle="tab">Kottu Mains</a></li>
          <li role="presentation"><a data-target="#Appetisers" aria-controls="Appetisers" role="tab" data-toggle="tab">Appetisers</a></li>
          <li role="presentation"><a data-target="#Adons" aria-controls="Adons" role="tab" data-toggle="tab">Add-Ons</a></li>
          <li role="presentation"><a data-target="#Beverages" aria-controls="Beverages" role="tab" data-toggle="tab">Beverages</a></li>
          <li role="presentation"><a data-target="#Deserts" aria-controls="Deserts" role="tab" data-toggle="tab">Desserts</a></li>
      </ul>
  </div>
</div>
<div class="container">
      <!-- Tab panes -->
      <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="KottuMains">
              <kottu-lab-main-menus></kottu-lab-main-menus>
          </div>
          <div role="tabpanel" class="tab-pane" id="Appetisers">
              <kottu-lab-starters></kottu-lab-starters>
          </div>
          <div role="tabpanel" class="tab-pane" id="Adons">
              <kottu-lab-addons></kottu-lab-addons>
          </div>
          <div role="tabpanel" class="tab-pane" id="Beverages">
              <kottu-lab-beverages></kottu-lab-beverages>
          </div>
          <div role="tabpanel" class="tab-pane" id="Deserts">
              <kottu-lab-deserts></kottu-lab-deserts>
          </div>
      </div>
  </div>

