<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="kottu-labs-modal-wrapper">
            <h2>We've added it to your cart!</h2>
            <p>Would you like to proceed to pay or add more items to your cart?</p>
            <div class="kottu-labs-modal-buttons">
                <button type="button">PROCEED TO PAY</button>
                <button type="button" data-dismiss="modal" routerLink="/Menu">CHOOSE AD-ONS</button>
                <button type="button">choose a kottu</button>
            </div>
        </div>
    </div>
</div>