<div class="modal fade" id="{{modalid}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="kottu-labs-modal-wrapper">
            <h2>We've added it to your cart!</h2>
            <p>Would you like to proceed to pay or add more items to your cart?</p>
            <div class="kottu-labs-modal-buttons">
                <button type="button" data-dismiss="modal" routerLink="/YourCart">PROCEED TO PAY</button>
                <button type="button" data-dismiss="modal" routerLink="{{urls[0][1]}}">{{urls[0][2]}}</button>
                <button type="button" data-dismiss="modal" routerLink="{{urls[0][0]}}">GO TO MENU</button>
            </div>
        </div>
    </div>
</div>