<nav class="navbar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="{{brandName}}"/>
          <span class="brand-name-wrapper">
                <span class="brand-name">KOTTU<span class="labs">LABS</span></span>
                <span class="brand-slogan">You’re the chef, we’re the cooks</span>
          </span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/Home" routerLinkActive="active-link">Home</a></li>
        <li><a routerLink="/Menu" routerLinkActive="active-link">Menu</a></li>
        <li><a routerLink="/Promos" routerLinkActive="active-link">Promos</a></li>
        <li><a routerLink="/" fragment="kottuLabLocationMap" (click)="scollToElement('kottuLabLocationMap')">Pick up location</a></li>
        <li><a routerLink="/AboutUs" routerLinkActive="active-link">About us</a></li>
        <li>
          <button type="button" routerLink="/YourCart" class="kottu-labs-view-cart">view cart</button>
        </li>
      </ul>
        <div class="hotline-number-wrapper">Hotline: 077 6680 000 / 011 7036 364</div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
