<div class="kottu-labs-menu-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="kottu-labs-promos-wrapper clearfix">
                    <div class="col-md-5">
                        <img src="{{promoImage}}"/>
                    </div>
                    <div class="col-md-7">
                        <h2>Share a review and win a<br/> Kottulicious dinner for two!</h2>
                        <p>Share a review on our food from your Facebook or Instagram account with the hashtag #KOTTULABS.LK and stand a chance to win a complete dinner for two (appertisers, kottus, add-ons and deserts included).</p>
                        <p>Terms and conditions:<br/>
                            The winner selected by KOTTULABS is final.<br/>
                            The winner can choose to have it the meal delivered or picked up from our lab.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-3"><div class="kottu-labs-promos-border"></div></div>
            <div class="col-md-6"><h2 class="kottu-labs-promos-heading">WATCH THIS SPACE FOR MORE PROMOS AND FREEBIES</h2></div>
            <div class="col-md-3"><div class="kottu-labs-promos-border"></div></div>
        </div>
    </div>
</div>

