<div class="kottu-labs-menu-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="kottu-labs-promos-wrapper clearfix">
                    <div class="col-md-5">
                        <img src="{{promoImage}}"/>
                    </div>
                    <div class="col-md-7">
                        <h2>Stay Tuned!</h2>
                        <br/>
                        <p>Stay tuned to our social media platforms or our website to learn about our exciting upcoming promos. We're on Facebook and Instagram under the username "kottulabs.lk". </p>
                        <!-- <p>Terms and conditions:<br/>
                            The winner selected by KOTTULABS is final.<br/>
                            The winner can choose to have the meal delivered or picked up from our lab.</p> -->
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-3"><div class="kottu-labs-promos-border"></div></div>
            <div class="col-md-6"><h2 class="kottu-labs-promos-heading">WATCH THIS SPACE FOR MORE PROMOS AND FREEBIES</h2></div>
            <div class="col-md-3"><div class="kottu-labs-promos-border"></div></div>
        </div>
    </div>
</div>

