//Preffix
$preffix:".kottu-labs";
$img-path:"../images/";

//Heights
$header-height:115;
$header-zIndex:10;

// -- font colors
$default-color:#000;
$primary-color:#fff;
$coporate-color:#c52412;
$location-info:#8B0000;
$icons-color:#ccc;

$btn-over:#323232;

$quantity: #c42512;

$menu-bg:#242323;

$txt-color:#4D4B4B;

$genuine-red:#ff0000;

$inner-header:#ed1c24;

$inner-header-short:#2f2e2e;
$menus-color:#9b2525;


